@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
//Slider
.simple-trans-main > div {
    cursor: pointer;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    font-size: 25em;
    text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
    z-index: 10;
    background-size: cover !important;
    background-position: center !important;
  }