@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
 
}
//---------------------------------------
.black {
  background-color: black;
}
.parallax {
  /* The image used */
  
  //background-image: url('img_parallax.jpg');
  background-color: rgb(0, 4, 15);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,4,15,1) 35%);

  /* Full height */
  height: 50em; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
//--------------------------------------
//menu_lat
.columizq{
  padding: 0;
  margin: 0;
  padding: 0px !important;
}
.sidebar {
  height:100%;
}

.nav {
  text-align: left;
  font-weight: bold;
 
}
//Título------
.fuentes{
  &__titles-multi{
    &__center{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 120px 20px 45px 45px;
    }  
    &__style{
      color: blanchedalmond;
      font-family: 'Raleway', sans-serif;
    }
    &__titles{
      font-size: 11vw;
    }
  }
}
//-------------Contenido
.contenido{ 
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,4,15,1) 35%);
}
//-------------------

//Tarjetas de vídeo-----


//---------------------------------------
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

//Acomodar tarjetas de vídeos
.videos{
  display: flex;
  flex-direction: column;
}

//Anchura del scroll de la página = 0
.info {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

//------------------
//REDES SOCIALES
#redessociales {
  filter:hue-rotate(30deg);;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 75px;
  border: 5px solid rgba($color: #ffffff, $alpha: 0);
  background: url(https://4.bp.blogspot.com/-gKMIOgeaEBY/UWHsOA382oI/AAAAAAAABpI/5GdyRTAeKII/s1600/share_core_square.jpg)
}

.smedia {
  filter:hue-rotate(-30deg);
  position: absolute;
  -webkit-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 1s linear;
  -moz-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1),opacity 1s linear;
  -o-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 1s linear;
  display: inline;
  opacity: 0;
  width: 46px;
  height: 46px;
  z-index: 100;
  margin:10px 0px 0px 20px;
  text-indent: -9999px;
  background: no-repeat;
  left:3px;
}
#redessociales:hover .smedia {
  opacity: 1;
  transform: translate(0px,0);
  -webkit-transform: translate(0px,0);
  -o-transform: translate(0px,0); 
  -moz-transform: translate(0px,0);
  margin:10px 0px 0px 20px;
  position: absolute;
}
#redessociales:hover .smedia:nth-child(1) {
  position: absolute;
  left:65px;
}

#redessociales:hover .smedia:nth-child(2) {
  position: absolute;
  left:110px;
}
#redessociales:hover .smedia:nth-child(3) {
  position: absolute;
  left:155px;
}
#redessociales:hover .smedia:nth-child(4) {
  position: absolute;
  left:200px;
}
#redessociales:hover .smedia:nth-child(5) {
  position: absolute;
  left:245px;
}

#redessociales:hover .smedia:nth-child(6) {
  position: absolute;
  left:290px;
}
//--Logos de cada red
.smedia.facebook {
    background: url(https://4.bp.blogspot.com/-49s_0_9mdVo/UWHsMIvJBNI/AAAAAAAABn8/6bVMlN4Qz7Y/s1600/bubble_facebook_share_button.png);
}
.smedia.twitter {
    background: url(https://2.bp.blogspot.com/-3r8sHe1Qy5M/UWHsNMDDzHI/AAAAAAAABog/q3V7mYirmOY/s1600/bubble_twitter_share_button.png);
}
.smedia.email {
    background: url(https://3.bp.blogspot.com/-ZhFqBhp79cA/UWHsMBmPxsI/AAAAAAAABn4/O8k_pGf1oCU/s1600/bubble_email_share_button.png);
}
.smedia.instagram {
    background: url(https://1.bp.blogspot.com/-FSkby0cXU_8/UWHsMis8c2I/AAAAAAAABoQ/y8coyc5ystc/s1600/bubble_instagram_share_button.png);
}
.smedia.youtube {
    background: url(https://4.bp.blogspot.com/-x2oyT1dBzwA/UWHsNtcWXVI/AAAAAAAABo8/8kCXTVMbM6Y/s1600/bubble_youtube_share_button.png);
}
.smedia:hover {
    background-position: 0 -46px;
}